*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
	
}
.menu-bar{
	background-color: rgb(0,100,0);
text-align: center;
}
.menu-bar ul{
	display: inline-flex;
list-style: none;
color: #fff;
}
.menu-bar ul li{
width: 120px;
margin: 15px;
padding: 15px;

}
.menu-bar ul li a{

text-decoration: none;
color: #fff;
}
.active,.menu-bar ul li:hover{

	background: #2bab0d;
	border-radius: 3px;
}
.sub-menu{
	display: none;
}
.menu-bar ul li:hover .sub-menu{

display: block;
position: absolute;
background: rgb(0,100,0);
margin-top: 15px;
margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
width: 150px;
padding: 10px;
border-bottom: 1px dotted #fff;
text-align: left;
border-radius: 0;
background: transparent;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{

	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
color: #b2ff00;

}
.sub-menu-2{
	display: none;
}
.hover-me:hover .sub-menu-2{
display: block;
position: absolute;
background: rgb(0,100,0);
margin-top: -40px;
margin-left: 140px;




}






